section h1 {
  color: rgb(60,60,60);
}

a {
    color: rgba(0,0,0,0.9);  
}

/*
    Intro
*/
#intro p { 
    display:inline;
    font-size: 2em;
}

#intro p, #intro a,
#intro .email span span {
    color: rgba(0,0,0,0.7);
}

#intro .elsewhere,
#intro .email {
    display: block;
}

#intro .elsewhere a,
#intro .email span {
    color: rgba(0,0,0,0.85);
/*    color: rgba(100,50,100,0.8); */

     -moz-transition: color 0.4s ease-out;  
       -o-transition: color 0.4s ease-out;  
  -webkit-transition: color 0.4s ease-out;  
      -ms-transition: color 0.4s ease-out;  
          transition: color 0.4s ease-out;  
}

#intro .elsewhere a:hover {
    color: rgba(0, 153, 204, 1);
}

/*
    color: rgba(153, 153, 0, 1);
    color: rgba(100, 50, 100,0.8);
    color: rgba(153, 0, 51, 1);
    color: rgba(0, 153, 204, 1);

#intro p.job, #intro p.job a { color: #990; }
#intro p.job a:hover { color: rgba(153, 153, 0, 0.7); }
#intro p.freelance, #intro p.freelance a { color: #903; }
#intro p.email, #intro p.email a { color: #09c; }
#intro p.elsewhere, #intro p.elsewhere a { color: #09c; }
*/


/*
    Recent Projects
*/
#intro h1 {
    margin-top: 15px;
}

#projects h1 {
    margin-top: 10px;
}

#projects h3 a {
    text-decoration: none;
}

#projects h3 a:hover {
    text-decoration: underline;
}

#intro h1,
#projects h1,
#code h1 {
    font-size: 2em;
    border-bottom: 1px solid #AAA;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.debug #projects ul li {
    border: 1px solid green;
}

#projects ul li {
    position: relative;
    width: 308px;
    min-height: 210px;
    float: left;
    margin-right: 10px;
    border: 1px solid transparent;
    list-style: none;
    border-bottom: 2px solid rgba(0,0,0,0.1);

     -moz-transition: background-color 0.3s ease-out;  
       -o-transition: background-color 0.3s ease-out;  
  -webkit-transition: background-color 0.3s ease-out;  
      -ms-transition: background-color 0.3s ease-out;  
          transition: background-color 0.3s ease-out;  
}

#projects ul li:hover {
    background-color: rgba(0,0,0,0.05);
}

#projects ul li:nth-child(3n) {
    margin-right: 0;
}

#projects ul li h3 {
    line-height: 28px;
}

#projects li h3,
#projects li .thumbnail,
#projects li .tech {
    padding-left: 10px;
}

#projects li .tech .comma {
    position: absolute;
    left: -99999px;
}

#projects li .tech span {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0 4px;
    margin-bottom: 5px;
}

#projects .no-thumbnail a,
#projects .no-thumbnail .summary p {
    padding-left: 10px;
}

#projects .no-thumbnail h3 a {
    padding-left: 0;
}

#projects li.no-thumbnail .tech {
    width: 100%;
}

#projects .summary p {
    padding-right: 10px;
}

#projects .tech {
    position: absolute;
    top: 137px;
    left: 0;
    width: 180px;
}

#projects .thumbnail {
    float: left;
    padding-right: 10px;
    height: 160px;
}

#projects .thumbnail img {
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #FFF;
    padding: 5px;
}

#projects li .links {
    padding-top: 5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#projects li .links a:hover {
     -moz-transition: color 0.2s ease-out;  
       -o-transition: color 0.2s ease-out;  
  -webkit-transition: color 0.2s ease-out;  
      -ms-transition: color 0.2s ease-out;  
          transition: color 0.2s ease-out;  
    color: rgba(0, 153, 204, 1);;
}

#projects li .when {
    padding-top: 5px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #AAA;
}

/*
    Experience
*/
#experience,
#education {
    float: left;
    width: 460px;
}

#experience {
    margin-right: 20px;
}

.section {
    position: relative;
    list-style: none;
    margin: 10px 0;
}

.section .date {
    float: right;
    width: 120px;
    text-align: right;
}

#experience .section h5 {
    clear: right;
}

/*
.section .grade {
    position: absolute;
    right: 0;
    top: 20px;
}
*/
.section .grade::before {
    content: '(';
}
.section .grade::after {
    content: ')';
}

.section h5 {
    clear: right;
}

/**
    CV page
*/

#cv {
    padding: 0 40px;
    min-width: 700px;
}

#cv #masthead {
    background-color: #FFF;
    height: 92px;
}

#cv #masthead #logo {
    margin-left: 0;
}

#cv h1, #cv h2, #cv h3 {
    /* font-family: 'Rokkitt', sans-serif; */
    font-family: 'Puritan', sans-serif;
}

#cv section ul {
    margin-left: 15px;
}

#cv section ul li {
    padding-bottom: 2px;
    list-style-position: outside;
}

#cv section p {
    line-height: 1.2em;
}

#cv section h3 + p {
    font-size: 14px;
}

#cv section .education h3 + p {
    font-size: 12px;
}

#cv section h3 + p,
#cv section p + p {
    margin-top: 5px;
}

#cv h2 {
    padding-top: 10px;
    padding-bottom: 0;
    position:relative;
}

#cv h2 + h3 {
     border-top: 1px solid #AAA;
     margin-top: 5px;
}

#cv h3 {
    border-top: 1px solid #DDD;
    margin-top: 16px;
    padding-top: 16px;
    position:relative;
}

#cv h3 .date {
    position:absolute;
    right: 0;
}

#cv h3 .role,
#cv h3 .role + span,
#cv h3 .org {
    display:inline;
    position: static;
}

#cv h4 {
    font-size: 14px;
     padding-top: 10px;
}

#cv {
    position: relative;
}

#cv section h1 {
    position: absolute;
    left: 141px;
    top: 30px;
    color: #000;
}

#cv section h1 .name {
    position: absolute;
    left: -999999px;
}
#cv section .details {
    position: absolute;
    right: 39px;
    top: 18px;
    color: #000; 
    width: 170px;  
}
#cv section .details .code {
    font-weight: bold;
    position: absolute;
    width: 260px;
    right: 0;
}

#code h1,
#code h2 {
    margin-top: 12px;
}

/* Books */
.books li {
    width: 244px; /* 314 - 60 - 10 */
    display: inline-block;
    position: relative;
    padding-left: 60px;
    padding-top: 10px;
    margin-right: 10px;
    min-height: 100px;
    border-bottom: 1px solid #AAA;
}

.books li h3 {
    min-height: 24px;
}

.books li img {
    position: absolute;
    top: 10px;
    left: 0;
}