@font-face {
  font-family: "titillium-26";
  src: url(/assets/fonts/titillium/TitilliumMaps26L.otf.otf);
}

@font-face {
  font-family: "titillium-26-1";
  src: url(/assets/fonts/titillium/TitilliumMaps26L001.otf);
}

@font-face {
  font-family: "titillium-26-2";
  src: url(/assets/fonts/titillium/TitilliumMaps26L002.otf);
}

@font-face {
  font-family: "titillium-26-3";
  src: url(/assets/fonts/titillium/TitilliumMaps26L003.otf);
}

@font-face {
  font-family: "titillium-26-2";
  src: url(/assets/fonts/titillium/TitilliumMaps26L004.otf);
}

@font-face {
  font-family: "titillium-title";
  src: url(/assets/fonts/titillium/TitilliumTitle12.otf);
}

@font-face {
  font-family: "league-gothic";
  src: url(/assets/fonts/LeagueGothic/LeagueGothic.otf);
}