/*
  Debug
*/
body.debug { 
  background: transparent url(/assets/img/grid.png) repeat; 
}

/*
  Defaults:

  Grid: 30px, 10px gutter
*/

h1, h2, h3, h4, h5, h6, body {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  
  font-size: 75%; /* Set font size: 12px ?? */
}

#colophon {
  position: absolute;
  right: 40px;
}

/*
  Line height, margin calculations:
  Default font: 12px (1em)
  Line height: 24px (2em)
  
*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

body a {
  color: #000;
}

html>body {
  font-size: 12px;
}


h1 {
  font-size: 4em;

/*
  line-height: 1.667em;
  margin-top: 1.667em;
  margin-bottom: 1.667em;
*/
}

/*
  font-size / grid-height
  20px / 18px = 1.111em
  1.667em / 1.5em = 
*/
h2 {
  font-size: 2em;
  /* font-size: 18px; */
  
  line-height: 1.111em;
  
  /* margin-top: 1.111em; */
  
  /*
  margin-bottom: 1.111em;
  */
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 12px;
}

h5, h6 {
  font-size: 12px;
}

p {
  line-height: 1.667em;
  /*margin-top: 1.667em;*/
  /* margin-bottom: 1.667em; */
}

ul li {
  list-style-type: disc;
  list-style-position: inside;
}

ol li {
  line-height: 1.667em;
}

/*
  Accessibility
*/
#access {
  display: none;
}

/*
  Masthead
*/
#masthead, 
#masthead #logo, 
#masthead #logo a {
  display: block;
  margin: 0;
  padding: 0;
}

#masthead {
  padding-left: 30px;
  /* padding-top: 40px; */
  padding-bottom: 0px;
  position: fixed;
}

#masthead #logo,
#masthead #logo a {
  display: block;
  width: 120px;
  height: 65px;
}

#masthead #logo {
  overflow: hidden;
  /* background: transparent url(/assets/img/an-logo.png) no-repeat; */
}

#masthead #logo img {
	height: 59px;
	margin-left:  3px;
	
}

#masthead #logo a {
	display: block;
}

#masthead #logo a span {
  display: block;
  margin-left: -90000px;
}

#masthead ul#nav {
  display: block;
    
  margin: 0;
  padding: 0;
  
  position: absolute;
  top: 40px;
  left: 0px;
}

#masthead ul#nav li {
  position: absolute;
  left: 0;
  top: 0;
  
  font-size: 2em;
  line-height: 3.334em;
  margin-top: 3.334em;
  margin-bottom: 3.334em;
  
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
}

#masthead #nav .about {
  width: 160px;
  margin-left: 160px;
}

#masthead #nav .projects {
  width: 160px;
  margin-left: 240px;
}

/*
  Content
*/
#content {
  position: relative;
  margin-left: 150px;
  margin-top: 40px;
  width: 600px;
}

.more-info li {
  list-style: none;
  padding: 0;
}

#greetings h2 {
  width: 270px;
  font-size: 3em;
  margin: 0;
  padding-top: 6px;
}

#intro {
  width: 340px;
  font-size: 2em;
  margin:0;
  padding-top: 13px;
}

#intro p {
  line-height: 1em;
  margin-bottom: 0.5em;
}

#intro p.job, #intro p.job a { color: #990; }
#intro p.job a:hover { color: rgba(153, 153, 0, 0.7); }
#intro p.freelance, #intro p.freelance a { color: #903; }
#intro p.email, #intro p.email a { color: #09c; }

/*
  Generic sidebar styling
*/
#sidebar {
  position: absolute;
  top: 0;
  left: 355px;
  border: 1px solid #ccc;
  
  background-color: #eee;
  padding-bottom: 10px;
  padding-top: 10px;
  
  border-top: 5px solid #DDD;
  border-bottom: 5px solid #DDD;
}

#sidebar #recent-bookmarks h2 a {
  text-decoration: none;
}

#sidebar #recent-bookmarks h2,
#sidebar #recent-bookmarks li,
#sidebar #recent-bookmarks p,
#sidebar #post-list h2,
#sidebar #post-list li,
#sidebar #post-list p {
  padding-left: 5px;
  padding-right: 5px;
}

#sidebar #recent-bookmarks p,
#sidebar #post-list p {
  padding-bottom: 5px;
}

#sidebar #recent-bookmarks li,
#sidebar #post-list li {
  padding-top     : 5px;
  padding-bottom  : 5px;
  border-bottom   : 1px solid #CCC;
}

#sidebar #recent-bookmarks li a,
#sidebar #post-list li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  line-height: 1.4em;
}

#sidebar #recent-bookmarks li a {
}

/*  lime: 990 (153,153,0), pink: 903, 09C */
#sidebar #recent-bookmarks li:hover,
#sidebar #post-list li:hover {
  background-color: rgba(153,153,0,0.3);
}

#sidebar #recent-bookmarks li:last-child,
#sidebar #post-list li:last-child {
  border-bottom: none;
}

/* #sidebar #recent-bookmarks, */
#sidebar #post-list {
  border-bottom: 5px solid #DDD;
}

#sidebar #post-list li .date {
  display: block;
}

#sidebar #latest-image {
/*
  margin-top: 10px;
  border-top: 1px solid #BBB;
*/
  padding-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

#sidebar #latest-image h2 {
  position: absolute;
  left: 90px;
  width: 80px;
}

#sidebar #latest-image p {
  height: 55px;
  width: 55px;
  border: 1px solid #AAA;
  padding: 10px;
  text-align: center;
  line-height: 55px;
}

#sidebar #latest-image img {
  border: 1px solid rgba(0,0,0,0.8);
}

#sidebar #latest-image ol.use-carousel {
  width: 1000px;
}

#sidebar #latest-image ol.use-carousel li {
  float: left;
}

#sidebar #latest-image .carousel {
  position: relative;
  width: 100px;
  height: 77px;
}

#sidebar #latest-image .carousel .container {
  position: relative;
  overflow: hidden;
  width: 77px;
  height: 77px;  
}


#sidebar #latest-image .carousel .container ol {
  position: absolute;
  top: 0;
  left: 0;
}

#sidebar #latest-image .carousel a .carousel_button {
  display: block;
  height: 10px;
  width: 10px;
  background-color: #222;

  position: absolute;
  top: 67px;
  right: 0;
}

/*
  CV page
*/
.section,
.section > li {
  list-style-type: none;
}

#cv h3 {
  font-size: 16px;
  margin-top: 1.11em; 
}

#cv h4 {
  font-size: 14px;
}

#cv li.section {
 margin-bottom: 1.11em; 
}

#cv li .date {
  color: #555;
}

#cv li .title {
  
}

#cv li .org {
  
}

/*
  Activity stream
*/
#activity {
  margin-top: 1.667em;
}

#activity li {
	position: relative;
	margin-bottom: 1.667em;
}

#activity li.category h2 {
  font-size: 0.8em;
  
  display: block;
  width: 70px;
  height: 1.667em;
  margin: 0;
  line-height: 1.667em;
  text-align: center;
  text-transform: uppercase;
  
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

#activity li.category h2 {
	background-color: rgba(156, 16, 0, 1);
	color: #FFF;
	
	background: -webkit-gradient(radial, right bottom, 0, left top, 200, from(#F00), to(#FFF));
}

#activity li.category.blog h2 {
	background-color: #756 ;
	color: #FFF;
	
	background: -webkit-gradient(radial, right bottom, 0, left top, 200, from(#756), to(#FFF));
}

#activity li.category.bookmark h2 {
	background-color: #48a;
	color: #FFF;
	
	background: -webkit-gradient(radial, right bottom, 0, left top, 200, from(#48A), to(#FFF));
}

#activity li.category.listening h2 {
	background-color: #981;
	color: #FFF;
	
	background: -webkit-gradient(radial, right bottom, 0, left top, 200, from(#981), to(#FFF));
}

#activity li.category p {
	position: absolute;
  top: 0;
  left: 80px; /* category width + gutter */
}

#activity li.category.listening p img {
}

#books #content li {
    border-bottom   : 1px solid #EEE;
    width           : 50%;
    clear           : left;
    min-height      : 91px;
}

#books #content li img {
    float   : left;
    padding : 0;
    margin  : 0;
}

#books #content li .title,
#books #content li .author {
    display: block;
}

#books #content li .title {
    margin-top: 10px;
}

#books #content li .author {
    color: #4C4C4C;
    font-weight: bold;
}

#projects .tech {
  color: #555;
}

#projects ul {
  clear: both;
}

#projects ul li {
  margin-top: 10px;
}

/*
#projects ul li {
  display: block;
  width: 45%;
  float: left;
  margin: 10px 10px 10px 0;
}
*/

/*
#outputs {
  position: absolute;
  top: 0;
  left: 240px;
}

#outputs li {
  position: relative;
}

#outputs p.date {
  margin: 0;
  padding: 0;
  
  width: 100px;
}

#outputs p.title {
  position: absolute;
  top: 0;
  left: 100px;
  
  margin: 0;
  padding: 0;
}
*/
ul.books {
  margin-top: 20px;
}
ul.books li img {
  position: absolute;
  left: 0;
  top: 0;
}

ul.books li {
  position: relative;
  min-height: 85px;
  padding-left: 65px;
}


#project ul,
#project ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#project ul li {
    float: left;
    /*
    width: 24%;
    border: 1px solid #AAA;
    */
}


