/*
    typo.css

  Grid: 30px, 10px gutter
*/

h1, h2, h3, h4, h5, h6, body {
  font-family: 'Puritan', sans-serif;
}

body {
  font-size: 75%; /* Set font size: 12px ?? */
}

/*
  Line height, margin calculations:
  Default font: 12px (1em)
  Line height: 24px (2em)
  
*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 0.3em;
}

h1, h2 {
  /* font-family: 'Pacifico', sans-serif; */
}

#intro p {
  font-family: 'Rokkitt', sans-serif;
}

h1 {
  font-size: 4em;
}

section h1 {
  font-size: 2.5em;
}

/*
  font-size / grid-height
  20px / 18px = 1.111em
  1.667em / 1.5em = 
*/
h2 {
  font-size: 2em;
  line-height: 1.111em;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 12px;
}

h5, h6 {
  font-size: 12px;
}

p {
  line-height: 1.667em;
}

p,
ul,
ol {
  margin-bottom: 1em;
}

ul li {
  list-style-type: disc;
  list-style-position: inside;
}

ol li {
  line-height: 1.667em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
.hide {
  position: absolute;
  left: -9999px;
}