<div id="recent-bookmarks">
  <h2><a href="http://pinboard.in/u:andrewn">Recent bookmarks</a></h2>
  <esi:include  src="/service/pinboard" 
                alt="/includes/pinboard.html" 
                onerror="continue"/>
</div>