<section id="code">
    <h1>Code</h1>

    <h2>BBC Shared Location</h2>
    <p>Javascript API for managing a shared, BBC-wide cookie. Location search integration. UI widget.</p>
    <p><a href="https://gist.github.com/605a9b6574e7e7ed299b">Shared Location code</a></p>

    <h2>Weather Forecast Maps</h2>
    <p>Javascript application design, extending BBC Mapping Toolkit library classes.</p>
    <p><a href="https://repo.dev.bbc.co.uk/pal/weather/www/trunk/webapp/static/modules/components/maps/">Maps code</a></p>
    
    <h2>Simple Quotes</h2>
    <p>Node.js/Coffeescript web service to return a random note tagged with 'quote' from SimpleNote API</p>
    <p><a href="https://github.com/andrewn/simple-quotes">Simple Quotes code</a></p>
    
    <h2>Fruit Machine</h2>
    <p>Javascript fruit machine app with qunit tests using CSS3, SVG.</p>
    <p><a href="http://andrewn.github.com/fruit-machine/">View a demo and code</a></p>
    
    <h2>HTTP Status</h2>
    <p>Simple web service to give back HTTP status code definitions.</p>
    <p><a href="http://github.com/andrewn/http-status">HTTP Status Code</a></p>

    <h2>FirePHP-Chrome extension</h2>
    <p>FirePHP as a Chrome extension.</p>
    <p><a href="https://github.com/andrewn/firephp-chrome">FirePHP-Chrome Code</a></p>
</section>