<section>
<h1><span class="name">Andrew Nicolaou </span>CV</h1>
<div class="details">
    <p class="email">me@andrewnicolaou.co.uk</p>
    {{#extended?}}<p class="tel">0794 123 8799</p>{{/extended?}}
    {{#extended?}}<p class="address">98A Southwold Road, E5 9PS</p>{{/extended?}}
    <p class="code">Project portfolio: http://andrewnicolaou.co.uk/all</p>
</div>
<h2>Experience</h2>
<h3>
    <div class="date">Sep 2010&mdash;Present</div><span class="hide">, </span>
    <div class="role">Senior Web Developer</div><span class="hide">, </span>
    <div class="org">News &amp; Knowledge, BBC</div>
</h3>

<p>Lead Web Developer of BBC Weather online. Current application (v3) is a custom LAMP-stack, highly scalable application that serves 2 million unique visitors a day and provides weather data to other BBC services.</p>

<h4>Weather v4 (in development):</h4>

<ul>
<li>migration of Weather to Forge platform and re-design for Global Experience Language (GEL) using HTML, CSS, Javascript, PHP, Zend/BBC Micro;</li>
<li>advocate the implementation of Behaviour-Driven Development using Cucumber, PHPUnit, qUnit;</li>
<li>introducing new technologies e.g. CSS3 transitions, transforms, SVG, HTML5 canvas;</li>
<li>specify service API interfaces and example data in JSON;</li>
<li>internationalisation into Welsh.</li>
</ul>

<h4>Tide Graphs:</h4>

<ul>
<li>overhaul visual design;</li>
<li>move from server to client-side generation using raphaeljs SVG library;</li>
<li>iterate the design over several releases in response to user feedback.</li>
</ul>

<h3>
    <div class="date">Nov 2008&mdash;Aug 2010</div><span class="hide">, </span>
    <div class="role">Web Developer</div><span class="hide">, </span>
    <div class="org">News &amp; Knowledge, BBC</div>
</h3>

<p>Part of a team delivering projects for News, Sport &amp; Weather sites.</p>

<h4>Forecast Maps:</h4>

<ul>
<li>entirely new way of interacting with maps on Weather;</li>
<li>includes technical prototyping of tile delivery mechanism;</li>
<li>feed specification for backend work;</li>
<li>Javascript application design;</li>
<li>managed work of 2 web developers and 1 software engineer;</li>
<li>attended user testing and iterated design based on user feedback.</li>
</ul>

<h4>My BBC Location:</h4>

<ul>
<li>Shared user location preference for News front page and Weather site;</li>
<li>developed Javascript API for managing a shared, BBC-wide cookie;</li>
<li>developed UI component and backend integration via JSON-P to allow a user to search and select a location;  </li>
<li>developed cookie format to BBC data protection and cookie standards;</li>
<li>handled migration of existing News/Weather preferences to new cookie.</li>
</ul>

<h4>Weather v3 refresh:</h4>

<ul>
<li>Visual overhaul of the Weather site to a very tight deadline in response to negative user feedback;</li>
<li>created new HTML/PHP temlates, CSS, JavaScript;</li>
<li>wrote OO PHP and SQL to enable required behaviour;</li>
<li>attended user testing to better understand user frustrations.</li>
</ul>

<h4>Mapping Toolkit (MTK):</h4>
<ul>
<li>Worked with external company to collaboratively develop javascript library;</li>
<li>raised patches to open source OpenLayers library used as core of MTK;</li>
<li>gathered and communicated BBC requirements to supplier.</li>
</ul>

<h3>
    <div class="date">Nov 2007&mdash;Oct 2008</div><span class="hide">, </span>
    <div class="role">Junior Client Side Developer</div><span class="hide">, </span>
    <div class="org">News &amp; Knowledge, BBC</div>
</h3>

<p>Working collaboratively with designers and journalists as part of the News Specials team on short/medium-term, editorially driven projects.</p>

<h4>Beijing Olympics venue map:</h4>

<ul>
<li>Javascript map that overlayed an illustrated guide to venues using MS Map Cruncher;</li>
<li>displayed geocoded twitter updates from BBC journalists in Beijing via a Perl service I developed;</li>
<li>internationalised into 5 BBC World Service languages.</li>
</ul>

<h4>Olympic Parade live map:</h4>
<ul>
<li>Used Flash Modest Maps library;</li>
<li>integrated Flickr geo feed of live photos.</li>
</ul>

<h4>Election mini poll tracker:</h4>
<ul>
<li>Interactive, feed-driven, flash chart providing context for political stories in the run-up to the US elections.</li>
</ul>

<h4>Teen homicides:</h4>
<ul>
<li>Interactive, flash bar chart component and dynamic infographic map;</li>
<li>controlled and populated via a JavaScript API;</li>
<li>used Template Toolkit to create feed template;</li>
<li>ensured data model and view were loosely coupled.</li>
</ul>

<h4>UK military deaths in Afghanistan and Iraq</h4>
<ul>
<li>Feed-driven, flash based data visualisation.</li>
</ul>

<h3>
    <div class="date">Oct 2006&mdash;Nov 2007</div><span class="hide">, </span>
    <div class="role">Web Content Manager</div><span class="hide">, </span>
    <div class="org">University of the Arts London</div>
</h3>

<p>Managed ECCA (Enterprise Centre for the Creative Arts) (www.ecca-london.org) and Own It (www.own-it.org) websites.</p>

<p>Developed medium-term strategies to enable both sites to innovate within the business support sector, worked with an external agency to specify, implement, user-test and acceptance-test new website features. Wrote engaging content for both sites.</p>

<div class="education">
<h2>Education &amp; qualifications</h2>

<h3>
    <div class="date">2005&mdash;2006</div><span class="hide">, </span>
    <div class="role">MSc System Design for Internet Applications</div><span class="hide">, </span>
    <div class="org">Newcastle University</div><span class="hide">, </span>
    <div class="grade">Distinction</div>
</h3>

<p>Course focussed on building scalable enterprise-level internet applications.</p> 

<p>Topics included: JBoss, J2EE, distributed algorithms, Ruby on Rails, JavaScript, AJAX.</p>

<h4>Dissertation project: Web-based Data Visualisation</h4>

<p>Building on previous research into visualising networked systems, I researched various types of data visualisation. I categorised these visualisation types and proposed a domain-specific language for the composition of web services. I  demonstrated a rendering framework on the client-side using JavaScript, SVG and Canvas, comparing the pros and cons of the two technologies (awarded mark of 73%).</p>

<h3>
    <div class="date">2002&mdash;2005</div><span class="hide">, </span>
    <div class="role">BSc (Hons) Computing Science</div><span class="hide">, </span>
    <div class="org">Newcastle University</div><span class="hide">, </span>
    <div class="grade">1st class</div>
</h3>

<p>Modular course covering a wide variety of computer science topics including: OOP design in Java, games programming, requirements analysis and database technologies.</p>

<p>Theoretical courses in systems modelling, software reliability and the theory of programming languages which gave a deeper knowledge of computing. I also took an elective course in anthropology.</p>

<h4>Dissertation project: Wayfinding with Ambient displays</h4>

<p>My dissertation project involved the development of a wayfinding system using ambient visual displays such as screens in the environment or on personal devices such as mobile phones.</p>

<p>After researching into existing systems I conducted studies into cross-modal attention, using an aural signal to drive attention to a visual stimulus. This involved the creation of a custom UI for measuring partipant's reactions during the study and analysing the results.</p>

<h3>
    <div class="date">2001&mdash;2002</div><span class="hide">, </span>
    <div class="role">Art &amp; Design Foundation course</div><span class="hide">, </span>
    <div class="org">Ravensbourne College of Design</div><span class="hide">, </span>
    <div class="grade">Pass</div>
</h3>

<h3>
    <div class="date">1999&mdash;2001</div><span class="hide">, </span>
    <div class="org">Highams Park Sixth Form College, London</div><span class="hide">, </span>
    <div class="grade">A-Level Design (A), A-Level Maths (B), A-Level Physics (B), AS Level General Studies (A)</div>
</h3>
</div>
</section>