<h1>Education &amp; qualifications</h1> 
<ul>
  <li class="section">
     <h4>
      <span class="date">2005-2006</span> 
      <span class="title">MSc System Design for Internet Applications <span class="grade">(Distinction)</span></span>
    </h4> 
    <h5>
      <a href="http://www.cs.ncl.ac.uk" title="Newcastle University, School of Computing Science homepage">Newcastle University</a>
    </h5> 
   
    <p>PHP, Ruby on Rails, JavaScript, AJAX, XHTML, CSS, HCI, JSP, JBoss, distibuted algorithms, </p> 
    <p>Dissertation: Web-based Data Visualisation - developing a system for the server-side composition of web services and the rendering on the client-side using JavaScript, SVG and Canvas.</p> 
  </li>

  <li class="section">
    <h4>
      <span class="date">2002-2005</span> 
      <span class="title">BSc (Hons) Computing Science <span class="grade">(First Class)</span></span>
    </h4>
    <h5>
      <a href="http://www.cs.ncl.ac.uk" title="Newcastle University, School of Computing Science homepage">Newcastle University</a>
    </h5> 
    <p>OOP design, Java, Flash games, requirements analysis, SQL, <a href="http://www.cs.ncl.ac.uk/modules/2005/CSC334">theory of programming languages</a>.</p> 
    <p>My dissertation project involved the development of a wayfinding system using ambient visual displays. I researched exising systems, developed design ideas and conducted pilot user studies using a custom Java2D program which I created.</p> 
  </li>

  <li class="section">
    <h4>
      <span class="date">2001-2002</span> 
      <span class="title">EdExcel Art &amp; Design Foundation course: Fine Art, Graphic Design, Spatial Design, Moving Image <span class="grade">(Pass)</span></span>
    </h4> 
    <h5>
      <a href="http://www.rave.ac.uk" title="Ravensbourne College homepage">Ravensbourne College of Design and Communication</a>, Kent
    </h5>
  </li>
 <!-- 
  <li class="section">
    <h4>
      <span class="date">1999 - 2001</span> 
      <span class="title">A'Level Design (A), A'Level Mathematics (B), A'Level Physics (B), AS Level General Studies (A)</span>
    </h4> 
    <h5>Highams Park Sixth Form College, Highams Park, London</h5> 
  </li>

  <li class="section">
    <h4>
      <span class="date">1994-1999</span> 
      <span class="title">9 GCSEs grade A/A* including Maths and English</span>
    </h4> 
    <h5>Chingford School, Chingford, London</h5> 
  </li>
-->
</ul>