<h1>Education &amp; qualifications</h1> 
<ul>
  <li class="section">
     <h4>
      <span class="date">2005&mdash;2006</span> <span class="hide">,</span>
      <span class="title">MSc System Design for Internet Applications <span class="grade">Distinction</span></span>
    </h4> 
    <h5>
      <a href="http://www.cs.ncl.ac.uk" title="Newcastle University, School of Computing Science homepage">Newcastle University</a>
    </h5> 
    <p>Course focussed on building scalable enterprise-level internet applications.</p>
    <p>Technologies covered: Ruby on Rails, JavaScript, AJAX, JSP, JBoss, distributed algorithms.</p> 
    <h6>Dissertation: Web-based Data Visualisation</h6>
    <p>Building on previous research into visualising networked systems, researched general types of data visualisation. Categorised these visualisation types and proposed a domain-specific language for the composition of web services and demonstrated a rendering framework on the client-side using JavaScript, SVG and Canvas, comparing the pros and cons of the 2 graphics technologies (awarded mark of 73%).</p>
  </li>

  <li class="section">
    <h4>
      <span class="date">2002&mdash;2005</span> <span class="hide">,</span>
      <span class="title">BSc (Hons) Computing Science <span class="grade">First Class</span></span>
    </h4>
    <h5>
      <a href="http://www.cs.ncl.ac.uk" title="Newcastle University, School of Computing Science homepage">Newcastle University</a>
    </h5> 
    <p>Modular course covering a wide variety of computer science topics including: OOP design in Java, games programming, requirements analysis and database technologies.</p>
    <p>More theoretical courses in systems modelling, software reliability and the <a href="http://www.cs.ncl.ac.uk/modules/2005/CSC334">theory of programming languages</a> gave a deeper knowledge of computing.</p>

    <p>I also elected to broader my studies with an introductory course in anthropology.</p> 

    <h6>Dissertation project: Wayfinding with Ambient displays</h6>
    <p>My dissertation project involved the development of a wayfinding system using ambient visual displays such as screens in the environment or on personal devices such as mobile phones.</p>
    <p>After researching into existing systems I conducted studies into cross-modal attention, using an aural signal to drive attention to a visual stimulus. This involved the creation of a custom UI for measuring partipant's reactions during the study.</p>
  </li>

  <li class="section">
    <h4>
      <span class="date">2001&mdash;2002</span> <span class="hide">,</span>
      <span class="title">EdExcel Art &amp; Design Foundation course: Fine Art, Graphic Design, Spatial Design, Moving Image <span class="grade">Pass</span></span>
    </h4> 
    <h5>
      <a href="http://www.rave.ac.uk" title="Ravensbourne College homepage">Ravensbourne College of Design and Communication</a>, Kent
    </h5>
  </li>
  <li class="section">
    <h4>
      <span class="date">1999 - 2001</span> 
      <span class="title">A'Level Design (A), A'Level Mathematics (B), A'Level Physics (B), AS Level General Studies (A)</span>
    </h4> 
    <h5>Highams Park Sixth Form College, Highams Park, London</h5> 
  </li>
  <!--
  <li class="section">
    <h4>
      <span class="date">1994-1999</span> 
      <span class="title">9 GCSEs grade A/A* including Maths and English</span>
    </h4> 
    <h5>Chingford School, Chingford, London</h5> 
  </li>
  -->
</ul>