<h1>Experience</h3> 
<ul>
  <li class="section">
    <h4>
      <span class="date">Sep 2010&mdash;Present</span> 
      <span class="title">Senior Web Developer</span>
    </h4> 
    <h5 class="org">
      <a href="http://www.bbc.co.uk"><abbr title="British Broadcasting Corporation">BBC</abbr></a>
    </h5> 
    <p>Develop front-end applications for BBC News &amp; Knowledge sites, primarily BBC Weather using Javascript, CSS, XHTML and PHP.</p> 
    <p>Technical front-end lead on developing and launching major new features. Includes: 
      <ul>
        <li>coordinating and managing a team of front-end developers; 
        <li>specifying feeds and interfaces with back-end software engineers;
        <li>translating editorial and product requirements into technical strategies;
      </ul>
    </p> 
  </li>
  <li class="section">
    <h4>
      <span class="date">Nov 2007&mdash;Aug 2010</span> 
      <span class="title">Web Developer</span>
    </h4> 
    <h5 class="org">
      <a href="http://www.bbc.co.uk"><abbr title="British Broadcasting Corporation">BBC</abbr></a>
    </h5> 
    <p>Develop front-end applications for BBC Journalism websites (News, Sport, Weather, Local) primarily using Javascript, Flash and PHP. Excellent (X)HTML and CSS.</p> 
  </li>
  
  <li class="section">
    <h4>
      <span class="date">Oct 2006&mdash;Nov 2007</span> 
      <span class="title">Web Content Manager</span>
    </h4> 
    <h5>
      <a href="http://www.lcc.arts.ac.uk" title="LCC homepage">London College of Communication</a>, University of the Arts London
    </h5> 
    <p>Managed <a href="http://www.ecca-london.org">ECCA</a> (Enterprise Centre for the Creative Arts) and <a href="http://www.own-it.org">Own It</a> websites.</p> 
    <p>Developed a short and long-term strategies to enable both sites to innovate within the business support sector, worked with external agency to specify, implement, user-test and acceptance-test new website features, wrote compelling content for both sites.</p> 
  </li>
</ul>