<h1>Experience</h1> 
<ul>
  <li class="section">
    <h4>
      <span class="date">Sep 2010&mdash;Present</span> <span class="hide">,</span>
      <span class="title">Senior Web Developer</span>
    </h4> 
    <h5 class="org">
      <a href="http://www.bbc.co.uk"><abbr title="British Broadcasting Corporation">BBC</abbr></a>
    </h5> 
    <p>Lead Web Developer of <a href="http://www.bbc.co.uk/weather">BBC Weather online</a>. Custom LAMP-stack, highly scalable application serving over 2 million unique visitors a day and providing weather data to many internal BBC sites.</p>
    <p>Experience using JavaScript, HTML, CSS, PHP, MySQL.</p>
    <ul>
      <li>translate editorial and product requirements into technical implementation strategies;</li>
      <li>manage a team of front-end developers to develop major, innovative new features using new technologies;</li>
      </li>
      <li>specify API integration interfaces to be developed by software engineers;</li>
      <li>lead on introducing new technologies e.g. CSS3 transitions, transforms, SVG, HTML 5 canvas</li>
      <li>advocate for implementation of Behaviour-Driven Design using Cucumber, PHPUnit, qUnit</li>
    </ul>
    <p>Major projects included:</p>
    <ul>
      <li>Current delivery of Weather v4: migration of Weather product to Forge platform and Global Experience Language (GEL)</li>
      <li>Tide Graphs using raphael.js SVG library</li>
    </ul>
  </li>
  <li class="section">
    <h4>
      <span class="date">Nov 2008&mdash;Aug 2010</span> <span class="hide">,</span>
      <span class="title">Web Developer</span>
    </h4> 
    <h5 class="org">
      <a href="http://www.bbc.co.uk"><abbr title="British Broadcasting Corporation">BBC</abbr></a>
    </h5> 
    <p>Deliver projects for News, Sport & Weather sites.</p> 
    <p>Major projects included:</p>
    <ul>    
      <li>Forecast Weather maps including technical prototyping</li>
      <li>My BBC Location preference including API definition, shared javascript library to be used across the BBC, cookie standard</li>
      <li>Weather v3 refresh, delivery focussed, tight timescales, attended user testing</li>
    </ul>
  </li>
   <li class="section">
    <h4>
      <span class="date">Nov 2007&mdash;Oct 2008</span> <span class="hide">,</span>
      <span class="title">Junior Client Side Developer</span>
    </h4> 
    <h5 class="org">
      <a href="http://www.bbc.co.uk"><abbr title="British Broadcasting Corporation">BBC</abbr></a>
    </h5> 
    <p>Working as part of the News Specials team on short/medium-term, editorially driven projects. Worked very closely in collaborative teams with designers and journalists.</p>
    <p>Worked across a variety of front-end technologies, picked those most appropriate to the task including Flash, Virtual Earth, JavaScript.</p>
    <p>Major projects included:</p>
    <ul>
      <li>Beijing Olympics venue guide featuring geocoded twitter updates via a Perl service I also created. Dealing with scalability due to large numbers of people viewing the map.</li>
      <li>Olympic Parade map: different technology, reusing Perl Twitter service</li>
      <li>Election mini poll tracker: responding to editorial need to provide context for political stories in the run-up to the US elections, developed this small inforgraphic quickly and iterated the concept.</li>
      <li>Military casualties</li>
      <li>Teen homicides</li>
    </ul>   
  </li>
   
  <li class="section">
    <h4>
      <span class="date">Oct 2006&mdash;Nov 2007</span> <span class="hide">,</span>
      <span class="title">Web Content Manager</span>
    </h4> 
    <h5>
      <a href="http://www.lcc.arts.ac.uk" title="LCC homepage">London College of Communication</a>, University of the Arts London
    </h5> 
    <p>Managed <a href="http://www.ecca-london.org">ECCA</a> (Enterprise Centre for the Creative Arts) and <a href="http://www.own-it.org">Own It</a> websites.</p> 
    <p>Developed medium-term strategies to enable both sites to innovate within the business support sector, worked with an external agency to specify, implement, user-test and acceptance-test new website features, wrote compelling content for both sites.</p> 
  </li>
</ul>