
{{#show_intro}}
<section id="intro">
    {{> intro}}
</section>
{{/show_intro}}

<section id="projects">
    {{> projects}}
</section>

<section id="experience">
    {{! experience}}
</section>

<section id="education">
    {{! education}}
</section>       

{{#posts}}
<section id="posts">
    {{> post_list}}
</section>
{{/posts}}