
<section id="intro">
    <h1>{{greeting}}</h1>
    <p class="job">I'm a web developer working on <a href="http://www.bbc.co.uk/weather">BBC Weather</a>.</p>
    <p class="freelance">I'm also available to work on freelance projects.</p>
    <p class="email">To get in touch, email:<br /> hello at andrewnicolaou.co.uk</p>
</section>