
<section id="intro">
    {{> intro}}
</section>

<section id="projects">
    {{> projects}}
</section>

<section id="experience">
    {{> experience}}
</section>

<section id="education">
    {{> education}}
</section>       