<h1>{{greeting}}</h1>
<p class="job">I'm a web developer working on <a href="http://www.bbc.co.uk/weather">BBC Weather</a>.</p>
<p class="freelance">I'm also available to work on freelance projects.</p>
<p class="email">To get in touch, email: <span>hello at andrewnicolaou.co.uk</span></p>
<p class="elsewhere">Find me on <a href="">GitHub</a>, <a href="">Flickr</a>, <a href="">Last.fm</a> &amp; <a href="">Twitter</a>.</p>