<h1>{{greeting}}</h1>
<p class="job">I'm a web developer working at <a href="http://www.bbc.co.uk/rd">BBC R&amp;D</a>.</p>
<p class="freelance">I'm available for freelance projects too.</p>
<p class="email">To get in touch, email <span>hello <span>at</span> andrewnicolaou.co.uk</span>.</p>
<p class="elsewhere">Find me on <a href="https://github.com/andrewn/">GitHub</a>, <a href="http://www.flickr.com/photos/andrewnicolaou">Flickr</a>, <a href="http://www.last.fm/user/andrewnicolaou">Last.fm</a>, <a href="http://pinboard.in/u:andrewn">Pinboard</a>, <a href="http://a-spark-file.tumblr.com/">Tumblr</a> &amp; <a href="http://twitter.com/andrewn">Twitter</a>.</p>