<!DOCTYPE html>

<html lang="en">
<head>
  {{> head }}
</head>
<body{{#page_id}} id="{{ page_id }}"{{/page_id}}>
  <div id="access"><a href="#content">Skip to content</a></div>
  
  <div id="masthead">
    <!-- Masthead -->
    <h1 id="logo">
      <a href="/">
        <img src="/assets/img/logo-{{logo_colour}}.png" alt="" />
        <span>Andrew Nicolaou</span>
      </a>
    </h1>
  </div>
  
  <div id="content">

    {{{ yield }}}
  
  </div> <!-- #content -->

  <div id="footer">
  
  </div>

  {{> analytics }}
  {{> debug }}
  {{> scripts }}
</body>
</html>