<!DOCTYPE html>

<html lang="en">
<head>
  {{> head }}
</head>
<body id="{{ page_id }}">
  <div id="access"><a href="#content">Skip to content</a></div>
  
  <div id="masthead">
    <!-- Masthead -->
    <h1 id="logo">
      <a href="/">
        <img src="/assets/img/an-logo.png" />
        <span>Andrew Nicolaou</span>
      </a>
    </h1>
  </div>
  
  <div id="content">

    <h2>{{{ title }}}</h2>

    {{{ yield }}}

    {{> more_links }}
    
  {{#service_typekit}}   
    <div id="colophon">
      <p><a href="http://typekit.com/colophons/iaa3xcz">Colophon</a></p>
    </div>
  {{/service_typekit}}
  
  </div> <!-- #content -->
  
  <script type="text/javascript" src="/assets/js/page_specific.js"></script>
  {{> analytics }}

  {{> debug }}
</body>
</html>