{{#post_list}}
  {{#published}}
    <div>
      <a href="{{url}}">{{title}}</a>
    </div>
  {{/published}}
{{/post_list}}

{{{content}}}

<ul class="more-info">
{{#more}}
 <li><a href="{{url}}">{{title}}</a></li>
{{/more}}
</ul>