<h1>Recent posts</h1>
<ul class="section post-list">
    {{#posts}}
    <li>
        <a class="url" href="{{ url }}">
            <div class="meta">
                <time datetime="{{ machine_short_date }}">{{ short_date }}</time> 
                <h3>{{ title }}</h3>
            </div>
            <p>{{{summary}}}</p>
        </a>
    </li>
    {{/posts}}
</ul>