<h1>{{project_scope}} projects</h1>
<ul class="projects-list">

  {{#projects}}
  <li class="{{^has_thumbnail?}}no-thumbnail{{/has_thumbnail?}} {{categories}}">
    <h3>{{#main_link}}<a href="{{url}}">{{name}}</a>{{/main_link}}</h3>
    {{#has_thumbnail?}}
    <div class="thumbnail">
      <!-- <img src="http://placehold.it/150x85" /> -->
      <img src="/projects/{{thumbnail}}" alt=""/>
    </div>
    {{/has_thumbnail?}}
    <p class="tech">
      {{#tech}}
        {{^last?}}<span>{{item}}</span><span class="comma">, </span>{{/last?}}
        {{#last?}}<span>{{item}}</span>{{/last?}}
      {{/tech}}
    </p>
    <div class="summary">
      {{{summary}}}
    </div>
    <div class="links">
      {{#link}}
      <a href="{{url}}">{{name}}</a>
      {{/link}}
    </div>
    {{#when}}
      <div class="when">{{item}}</div>
    {{/when}}
  </li>
  {{/projects}}

</ul>