<h1>Recent projects</h1>
<ul class="projects-list">

  {{#projects}}
  <li class="{{categories}}">
    <h3>{{name}}</h3>
    <div class="thumbnail">
      <!-- <img src="http://placehold.it/150x85" /> -->
      <img src="/projects/{{thumbnail}}" />
    </div>
    <p class="tech">
      {{#tech}}
        {{^last?}}{{item}}, {{/last?}}
        {{#last?}}{{item}}{{/last?}}
      {{/tech}}
    </p>
    <div class="summary">
      {{{summary}}}
    </div>
    {{#link}}
    <a href="{{url}}">{{name}}</a>
    {{/link}}
  </li>
  {{/projects}}

</ul>